.events-container {
    width: 100%;
    height: 100%;
    display: flex;
}
  
.events-container .nav-bar {
    width: 300px;
}
  
.events-container .events {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: #CFCECA;
    overflow: auto;
}
  
.events-container .pageheader {
    margin-bottom: 15px;
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    color: #152724;
}

.events-container .tool-bar {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.events-container .add-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    color: #a57c01;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    background-color: #152238;
}