.map-container {
    display: block;
    margin: auto;
    height: 50%;
    width: 50%;
    border: 3px solid black;
}

.events-container .pageheader {
    padding: 40px;
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    color: #152724;

}